<div class="container d-flex">
  <app-side-bar></app-side-bar>
  <div class="container d-flex justify-content-evenly">
    <div class="d-flex align-items-center justify-content-center flex-column">
      <img
        [src]="product.image"
        style="width: 200px"
        [alt]="product.imageAlt"
      />
      <h2>{{ product.name }}</h2>
      <p>{{ product.price.currentPrice | currency : "EGY " }}</p>
      <p>{{ product.imageAlt }}</p>
      <div class="d-flex gap-2 mb-4 ">
        <!-- <button class="btn btn-secondery border">Back</button> -->
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
