<mat-sidenav-container class="sidenav-container">
    <div class="overlay" [class.active]="isMobile && opened" (click)="toggleSidebar()"></div>
    
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" 
      [class.collapsed]="isCollapsed && !isMobile"
      [class.opened]="opened && isMobile" 
      class="sidebar">
      <div class="sidebar-content">
        <div class="brand">
          <img src="https://www.ikea.com/global/assets/logos/brand/ikea.svg" alt="IKEA Logo" class="logo"/>
        </div>
        
        <nav class="nav-menu">
          <a routerLink="/dashboard" routerLinkActive="active">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
          
          <a routerLink="/products/vendorPros" routerLinkActive="active">
            <mat-icon>inventory_2</mat-icon>
            <span>Products</span>
          </a>
          
          <a routerLink="vendor-orders" routerLinkActive="active">
            <mat-icon>assignment</mat-icon>
            <span>Orders</span>
          </a>
          
          <a routerLink="vendor-profile" routerLinkActive="active">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </a>
        </nav>

        <!-- <button *ngIf="!isMobile" class="toggle-btn" (click)="toggleCollapse()">
          <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
        </button> -->
      </div>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>